<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Weather | Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <sidebar style="margin: 20px;">
    <ul style="list-style: none;">
      <li>Home</li>
      <li>About</li>
    </ul>
    <form contenteditable="true" style="margin: 20px;">You can edit this text</form>
  </sidebar>

  <img>
  <a href="/public/favicon.ico" download="Download.ico">Download icon</a>
  <br>
  <br>

  <input list="languages" placeholder="Choose your language" style="margin: 20px;" />
  <datalist id="languages">
    <option>English</option>
    <option>French</option>
    <option>German</option>
    <option>Spanish</option>
  </datalist>
  <details>
    <summary> English </summary>
    <p>The world's most spoken language</p>
  </details>
  <details>
    <summary> Spanish </summary>
    <p>
      <q>The world's <mark>third</mark> most spoken language</q><br>
      <cite>Wikipedia</cite>
    </p>
  </details>
  <br>
  <p draggable="true">OK, let's see if you can drag this someplace else.</p>
  <br>
  <p>And some music?</p>
  <br>
  <audio controls src="/public/burp.wav"></audio>


  <div class="row">
    <div class="col-lg-12 text-center main">
      <div>
        <h1 class="mt-5">Weather Finder</h1>
        <p cass="load">Enter the name of the city and press search</p>
      </div>
    </div>
    <div class="col-lg-12 text-center main">
      <form action="/" method="post">
        <input name="city" type="text" />
        <button>Search</button>
      </form>
      <div class="mt-3">
        <label for="temp">Temperature meter:</label>
        <meter id="temp" min="0" max="100" low="30" high="60" optimum="80" value="{{weather.temp}}"></meter>
        {{ weather }}
        {{ error }}
      </div>
    </div>
  </div>
</body>

</html>